

.app {
 max-width: 1200px;
 margin: 0 auto;
 
 justify-content: center;
 text-align: center;
}


.btnAdd{
 gap: 10px;
}

.appwarapper{
 display: flex;
 text-align: center;
 justify-content: center;
 gap: 10px;
 margin-bottom: 20px;
}


.list{
 display: flex;
 justify-content: center;
flex-direction: column;

}
.listItem {
 margin-bottom: 15px;
 
}
.title{
 display: flex;
 align-items: center;
 justify-content: center;
 
 
}

.btnDelete{
 margin-left: 10px;
 
}
